* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

.nav-collapsed {
  display: flex;
  justify-content: space-between;
}

.nav-container {
  display: flex;
  flex-direction: column;
}

.hamb-menu {
  display: flex;
  flex-direction: row-reverse;
}

.nav-ul {
  list-style: none;
}

.fa-bars {
  align-self: flex-end;
  justify-self: flex-end;
  text-align: right;
}

.nav-langSwitcher:hover {
  cursor: pointer;
}
